<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <!-- <script src="https://kit.fontawesome.com/a076d05399.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>Gym Sharks</title>
    <!-- <link type="text/css" rel="stylesheet" href="assets\style.css">
    <script src="assets\script.js"></script> -->
    {%load static%}
    <link type="text/css" rel="stylesheet" href="{% static 'style.css'%}" />
    <script src="{% static 'script.js'%}"></script>
</head>

<body>
    <div id="menu">
        <i class="fa fa-bars" aria-hidden="true"></i>
    </div>
    <header>
        <div class="sidebar">
            <header>
                <div class="sidebar-button-menu">
                    <button type="button" id="shut"> <i class="fa fa-times"></i></button>
                    <h6>Fitness <u>Arena</u></h6>
                    <ul>
                        <li><a href="{%url 'homepage'%}"><i class="fa fa-home"></i>Home</a></li>
                        <li><a href="#"><i class="fa fa-sharp fa-solid fa-phone"></i>Contact Us</a></li>
                        <li><a href="{% url 'userpage'%}"><i class="fa fa-regular fa-dumbbell"></i>Gym Scheduler</a>
                        </li>
                        <li><a href="{%url 'calculator'%}"><i class="fa fa-home"></i>Calculator</a></li>
                        <li><a href="#"><i class="fa fa-solid fa-user"></i>About Us</a></li>
                    </ul>
                </div>
            </header>
        </div>
    </header>
    {%block content%}
    <!-- other content from other pages comes here -->
    {%endblock content%}
</body>

</html>