{%block form%}
<div class="register-form-view block">
    <i class="fa fa-solid fa-user"></i>
    <input type="text" placeholder="create username" id="reg_username" name="reg_username" required>
    <br>
    <br>
    <i class="fa fa-solid fa-lock"></i>
    <input type="password" placeholder="create password" id="create_password" name="create_password" required>
    <br>
    <br>
    <i class="fa fa-solid fa-lock"></i>
    <input type="password" placeholder="confirm password" id="confirm_password" name="confirm_password" required>
    <br>
    <input type="button" class="btn submit-btn" value="submit" name="regform"></input>
</div>
{%endblock form%}